.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    margin-top: 3em;
    margin-bottom: 3em;
    
}

.card-content {
    display: flex;
    flex-direction: column;
    width: 16em;
    height: 22em;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f2f3e3;
    padding: 1em;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.card-img{
    width: 15em;
    height: 17em;
    border-radius: 5px;
}


.movie-title{
    height: 1.5em;
    margin-top: 0.3em;
    font-size: 1em;

}

.movie-release, .movie-rating{
    margin-top: -1em;
}

.movie-release{
    color: gray;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
    padding: 0 2em;
    background-color: rgb(0, 0, 0);
    color: white;
}

.search{
    height: 2em;
}

.image{
    align-items: center;
    text-align: center;
}
.card-content:hover{
    box-shadow: 10px 10px 10px rgba(0, 26, 255, 0);
}

.overview{

    position: absolute;
    width: 15.5em;
    visibility: hidden;
    height: 21.5em;
    overflow:scroll;
    
}

.card-content:hover .card-info{
    visibility: hidden;
}

.card-content:hover .overview{
    visibility: visible;
}